<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
     <script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>

	<title>Praćenje troškova</title>
</head>
<body>

	<nav class="navbar navbar-expand-lg navbar-light bg-light">
  		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    	<span class="navbar-toggler-icon"></span>
  		</button>

		
  		<div class="collapse navbar-collapse" id="navbarSupportedContent">
    		<ul class="navbar-nav mr-auto">
      			<li class="nav-item active">
              <a class="nav-link" href="/">Početna <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
        			<a class="nav-link" href="/profil">Profil <span class="sr-only">(current)</span></a>
      			</li>
   			</ul>
			<a class="nav-item active mr-sm-2 my-2 my-sm-0" th:inline="text" th:text="${'Sredstva: ' + #numbers.formatDecimal(currentUser.funds, 1, 'DEFAULT', 2, 'DEFAULT')}"></a>

      		<a  class="nav-item active mr-sm-2 my-2 my-sm-0" th:text="${'Korisnik '+currentUser.username}"></a>
      		<button class="btn btn-outline-success mr-sm-2 my-2 my-sm-0" onclick="window.location.href='/postavke'"><span class="fas fa-cogs"></span> </button>
						   			
   			<form th:action="@{/logout}" method="post">
           		 <input type="submit" value="Odjavi se" class="btn btn-outline-success mr-sm-2 my-2 my-sm-0"/>
        	</form>
  		
	</nav>

	
	

	<div class="showcase-right">
	<div class="jumbotron jumbotron-fluid">
  		<div class="container">
    		<h1 class="display-4">Dobro došli na Praćenje troškova</h1>
    		<p class="lead">Pridružite nam se i pomozite sami sebi.</p>
  		</div>
	</div>
  </div>
	<div class="showcase-left">
	<div class="jumbotron jumbotron-fluid">
  		<div class="container">
    		<h1 class="display-4">Smanjite troškove, uštedite.</h1>
    		<p class="lead">Praćenje potrošnje je zamoran i težak posao, a
    						naša stranica vam pruža mogućnost da to olakšate.
							Od svakodnevnih troškova na kave, do mogućnosti praćenja štednje
							sa više ljudi. Ovdje možete sve.</p>
  		</div>
	</div>
  </div>

	
  <script>
        window.sr = ScrollReveal();
        sr.reveal('.navbar', {
          duration: 2000,
          origin:'bottom'
        });
        sr.reveal('.showcase-left', {
          duration: 2000,
          origin:'top',
          distance:'300px'
        });
        sr.reveal('.showcase-right', {
          duration: 2000,
          origin:'right',
          distance:'300px'
        });
  </script>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
	<script type="text/javascript" th:inline="javascript">
		google.charts.load('current', {'packages':['corechart']});
		google.charts.setOnLoadCallback(drawChart);
		google.charts.setOnLoadCallback(drawLineChart);
		google.charts.setOnLoadCallback(drawChartRevenue);
		google.charts.setOnLoadCallback(drawLineChartRevenue);
		
		function drawChart() {
			$.get("/metric-graph-data",function(mydata) {
			    var data = google.visualization.arrayToDataTable(mydata);
			    var options = {
			            title : 'Troškovi',
			            is3D : true,
			            pieSliceText: 'label',
			            tooltip :  {showColorCode: true},
			            width : 700,
			            height : 500
			        };
			 
			    var chart = new google.visualization.PieChart(document.getElementById('piechart_div'));
			    chart.draw(data, options);
			    
			 
			});
			 
			}
		function drawChartRevenue() {
			$.get("/revenue-graph-data",function(mydata) {
			    var data = google.visualization.arrayToDataTable(mydata);
			    var options = {
			            title : 'Prihodi',
			            is3D : true,
			            pieSliceText: 'label',
			            tooltip :  {showColorCode: true},
			            width : 700,
			            height : 500
			        };
			 
			    var chart = new google.visualization.PieChart(document.getElementById('piechart_div_revenue'));
			    chart.draw(data, options);
			    
			 
			});
			 
			}
		
		function drawLineChart() {
			$.get("/expenditure-graph-data",function(mydata) {
				
			    var data = google.visualization.arrayToDataTable(mydata);
			    
			    var options = {
			    		title:'Potrošnja po mjesecima',
	                       width:700,
	                       height:500,
	                       legend: 'Potrošnja',
	                       hAxis: {
	                    	   format: 'MMMM, yyyy'
	                       },
			    		   explorer: { 
	                	   		actions: ['dragToZoom', 'rightClickToReset'], 
	                       		axis: 'vertical'
	            		   }
			        };
			 
			    var chart = new google.visualization.LineChart(document.getElementById('linechart_div'));
			    chart.draw(data, options);
			    
			 
			});
			 
			}
		function drawLineChartRevenue() {
			$.get("/revenue-graph-data-line",function(mydata) {
				
			    var data = google.visualization.arrayToDataTable(mydata);
			    
			    var options = {
			    		title:'Prihodi po mjesecima',
	                       width:700,
	                       height:500,
	                       legend: 'Prihodi',
	                       hAxis: {
	                    	   format: 'MMMM, yyyy'
	                       },
			    		   explorer: { 
	                	   		actions: ['dragToZoom', 'rightClickToReset'], 
	                       		axis: 'vertical'
	            		   }
			        };
			 
			    var chart = new google.visualization.LineChart(document.getElementById('linechart_div_revenue'));
			    chart.draw(data, options);
			    
			 
			});
			 
			}
		
	</script>
	<table class="table table-borderless">
      <tr>
        <td th:if="${not #lists.isEmpty(expenditures)}"><div id="piechart_div" style="border: 1px solid #ccc"></div></td>
        <td th:if="${not #lists.isEmpty(revenues)}"><div id="piechart_div_revenue" style="border: 1px solid #ccc"></div></td>
      </tr>
      <tr>
        <td th:if="${not #lists.isEmpty(expenditures)}"><div id="linechart_div" style="border: 1px solid #ccc"></div></td>
        <td th:if="${not #lists.isEmpty(revenues)}"><div id="linechart_div_revenue" style="border: 1px solid #ccc"></div></td>
      </tr>
    </table>
</body>
</body>
</html>