body {
	background-color: #999;
	position: center;
}

.svota-valuta {
	display: inline-flex;
	margin: 1%;
}

#naziv {
	width: 40%;
	margin: 1%;
}
.custom-select{
	width: 20%;
	
}

#svota {
	
	
}

.dates{
	clear: both;
	display: block;
	width: 50%;
	margin: 1%;
}

.forma {
	display: inline-block;
	margin: 1%;
}

* {
  .border-radius(0) !important;
}

#field {
    margin-bottom: 2%;
}

#subbtn{
	margin: 1%;
	width: 40%;
}