<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<body>
<h1 >Registracija</h1>
<form action="#" th:action="@{/signup}"th:object="${user}" method="POST" enctype="utf8">
    <div>
        <label >Ime</label>
        <input th:field="*{name}"/>
        <p th:each="error: ${#fields.errors('name')}"
          th:text="${error}">Validation error</p>
    </div>
    <div>
        <label >Prezime</label>
        <input th:field="*{lastName}"/>
        <p th:each="error : ${#fields.errors('lastName')}"
          th:text="${error}">Validation error</p>
    </div>
    <div>
        <label >Korisničko ime</label>
        <input th:field="*{username}"/>
        <p th:each="error : ${#fields.errors('username')}"
          th:text="${error}">Validation error</p>
    </div>
    <div>
        <label>Email</label>
        <input type="email" th:field="*{email}"/>
        <p th:each="error : ${#fields.errors('email')}"
          th:text="${error}">Validation error</p>
    </div>
    <div>
        <label >Lozinka</label>
        <input type="password" th:field="*{password}"/>
        <p th:each="error : ${#fields.errors('password')}"
          th:text="${error}">Validation error</p>
    </div>
    <div>
        <label >Potvrdi lozinku</label>
        <input type="password" th:field="*{matchingPassword}"/>
    </div>
    <button type="submit" >Pošalji</button>
</form>
 
<a th:href="@{/login}" >Natrag na početnu stranicu</a>
</body>
</html>